<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12 footer-info">
        <a href="index.html" class="logo d-flex align-items-center">
          <span>BidZone</span>
        </a>
        <p>Your premier online bidding platform for exciting auctions, diverse product offerings, and a thrilling bidding experience. Join our vibrant community and discover the joy of winning at BidZone!</p>

      </div>



    </div>
  </div>

  <div class="container mt-4">
    <div class="copyright">
      &copy; Copyright <strong><span>BidZone</span></strong>. All Rights Reserved
    </div>

  </div>

</footer><!-- End Footer -->
<!-- End Footer -->